select {
  font-size: 16px;
  padding: 8px 10px;
  border: none;
  background-color: #007bff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  cursor: pointer;
  color: #f7f7f7;
}


select:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

select:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

option {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}
select option:hover {
    background-color: #555555;
    color: #ffffff;
  }
  .select-container {
    text-align: center;
  }